/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Open Sans, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





//header video pushed off screen
.video {
	margin-top: -100px;
}

.scroll {
	
	
	position: relative;
	top: -110px;
	padding: 20px 0;
	z-index: 2;
	.scroll-items {
		display: flex;
	align-items: center;
	flex-direction: column;
	}
a {
		text-decoration: none;	
		color: rgba(255, 255, 255, 0.418);	
		font-weight: bold;
	}

	img {
		width: 55px;
		opacity: 0.5;
	}		
}

.scroll:hover {
	background-color:rgba(12, 12, 12, 0.9);
	transition: .5s;
}


//social media styles

.socials-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	background-color: rgb(102, 102, 102);
	z-index: 3;
	position: relative;
	top: -115px;
	padding: 60px;
	margin-bottom: -115px;
	color: white;
	line-height: 1.6;
	box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	h1 {
		font-size: 1.5rem;
		font-weight: bold;
		border-bottom: 4px solid rgba(172, 0, 0, 0.9);
	}
	h2 {
		font-weight: 500;
	}

	img {
		width: 100px;
		margin: 20px 20px;
		border-radius: 100%;
		box-shadow: 0px 0px 18px 1px rgb(34, 34, 34);
	}
}


//about me styles


.about-container {
	box-shadow: 0px 0px 15px 1px rgb(0, 0, 0);
	z-index: 999;
	.about-contents {
		color:white;
		background-color: rgb(46, 46, 46) ;
		padding: 100px 200px;
		line-height: 1.6;
	
		.heading {
			border-bottom: 4px solid rgb(172, 0, 0);
			width: 90px;
			margin-bottom: 10px;
		}
		h1 {
			font-size: 1.5rem;
			font-weight: bold;
		}
		p {
			font-weight: 500;
		}
		
	}
}

.film-image {
		background-image: url('./assests/motoimage1.jpg');
		height: 700px;
		background-attachment: fixed;
  		background-position: center;
  		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;

		  .film-header {
			  text-align: center;	
			  padding: 250px;
		  h1 {
			color: white;
			font-size: 5rem;
			font-weight: bold;
			border: 4px solid rgb(172, 0, 0);
			margin: 0 auto;
			width: 200px;
		}
	}
	}

.film-container {
	.film-contents {
		z-index: 999;
		position: relative;
		color:white;
		background-color: rgb(46, 46, 46);
		box-shadow: 0px 0px 18px 1px rgb(0, 0, 0);
		padding: 50px 300px;
		line-height: 1.6;
		
		p {
			font-weight: 600;
			text-align: center;
		}
		a {
			color: rgb(255, 255, 255);
			border-bottom: 4px solid rgb(172, 0, 0);
		}

		.videos-container {
			margin-top: 20px;

			
		}

	}

}

//Photography styles 

.portfolio-image {
	background-image: url('./assests/motoimage2.jpg');
	height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;

	.portfolio-header {
		text-align: center;	
		padding: 250px;
		h1 {
		  color: white;
		  font-size: 5rem;
		  font-weight: bold;
		  border: 4px solid rgb(172, 0, 0);
		  margin: 0 auto;
		  width: 640px;
  		}
	}
}

.portfolio-contents {
	z-index: 999;
		position: relative;
		color:white;
		background-color: rgb(46, 46, 46);
		box-shadow: 0px 0px 18px 1px rgb(0, 0, 0);
		padding: 50px 300px;
		line-height: 1.6;
		height: 300px;
		
}