/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Open Sans, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





//header video pushed off screen
.video {
	margin-top: -100px;
	margin-bottom: -129px;
}

.scroll {
	position: relative;
	top: 20px;
	padding: 30px 0;
	z-index: 2;
	.scroll-items {
		display: flex;
	align-items: center;
	flex-direction: column;
	}
a {
		text-decoration: none;	
		color: rgba(255, 255, 255, 0.151);	
		font-weight: bold;
	}
a:hover {
	background-color:rgba(12, 12, 12, 0.9);
	transition: .5s;
	color: rgba(255, 255, 255, 0.418);
	text-decoration: none;
}

	img {
		width: 55px;
		opacity: 0.5;
	}		
}



//social media styles



//about me styles

.about-image {
	background-image: url('./assests/about-image.jpg');
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;

	.about-header {
		text-align: center;	
		padding: 250px;
		h1 {
		  color: white;
		  font-size: 5rem;
		  font-weight: bold;
		  
		  margin: 0 auto;
  		}
	}
}


.about-container {
	
	
	.about-contents {
		z-index: 999;
		position: relative;
		color:white;
		background-color: rgb(22, 22, 22);
		box-shadow: 0px 0px 18px 1px rgb(0, 0, 0);
		padding: 50px 300px;
		line-height: 1.6;
		h1 {
			font-size: 1.5rem;
			font-weight: bold;
		}
		p {
			font-weight: 500;
		}
		
	}
}

.film-image {
		background-image: url('./assests/motoimage1.jpg');
		height: 600px;
		background-attachment: fixed;
  		background-position: center;
  		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;

		  .film-header {
			  text-align: center;	
			  padding: 250px;
		  h1 {
			color: white;
			font-size: 5rem;
			font-weight: bold;
			margin: 0 auto;
		}
	}
	}

.film-container {
	.film-contents {
		z-index: 999;
		position: relative;
		color:white;
		background-color: rgb(22, 22, 22);
		box-shadow: 0px 0px 18px 1px rgb(0, 0, 0);
		padding: 50px 300px;
		line-height: 1.6;
		
		p {
			font-weight: 600;
			text-align: center;
		}
		a {
			color: rgb(255, 255, 255);
			border-bottom: 4px solid rgb(172, 0, 0);
		}

		.videos-container {
			margin-top: 20px;

			
		}

	}

}

//Photography styles 

.portfolio-image {
	background-image: url('./assests/motoimage2.jpg');
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;

	.portfolio-header {
		text-align: center;	
		padding: 250px;
		h1 {
		  color: white;
		  font-size: 5rem;
		  font-weight: bold;
		  margin: 0 auto;
  		}
	}
}

.portfolio-contents {
	z-index: 999;
		position: relative;
		color:white;
		background-color: rgb(22, 22, 22);
		box-shadow: 0px 0px 18px 1px rgb(0, 0, 0);
		padding: 50px 300px;
		line-height: 1.6;
		height: 300px;
		
}