

.nav-bar {
    nav {
        display: flex;
        background-color: rgba(12, 12, 12, 0.9);
        padding: 5px;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .logo {
            border: 2px solid white;
            border-radius: 100%;
            padding: 5px;
        }

        img {
            width: 15px;  
        }

        .motofin {
            width: 27px;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: .9rem;
            font-weight: bold;
            margin: 0 20px;
            padding: 5px;
        }

        a:hover {
            border-bottom: 3px solid rgba(172, 0, 0, 0.9);
            margin-top: 3px;
            transition: .2s;
        }
        
        a:focus {
            border-bottom: 3px solid rgba(172, 0, 0, 0.9);
            margin-top: 3px;
        }
    }
}